<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="/about.js"></script>r
</head>
<body>
    <img src="../logotip.jfif" height="60px" width="60px">
    <h1 class="about"> ABOUT US</h1>
    <div>
        <ul>
          <li><a onclick="about()"> about us</a></li>
        </ul>
      </div>
      <form action="/about" method="post">
        <input type="submit" name="about" hidden>
      </form>
      <script>
        function about() {
          document.querySelector('[name="about"]').click()
        }
      </script>
    <style>
        .about {
            color: rgb(248, 18, 18);
            background-color: rgb(233, 130, 130);
            text-align: center;
            font-size: xx-large;
        }
    </style>
    образователный цент learn with us 
    здесь вы найдете курсы по разным направлениям
    наш адрес г.ашхабад  ул.ниязова дом4 эт4
    рабочее время 8.00-21.00
</body>
</html>