<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>курсы онлайн</title>
    <link rel="shortcut icon" href="/logotip.jfif">
</head>

<body bgcolor="#fadadd">
  <img src="../logotip.jfif" height="60px" width="60px">
  <h1 class="about"> ABOUT US</h1>
  
  <style>
    .about {
      margin: 5px;
      padding: 8px;
      background-color: #fab7be;
      color: rgb(248, 18, 18);
      font-size: 55px;
      font-family: sans-serif;
      justify-content: center;
      align-items: center;
      display: flex;
    }

    h3 {
      display: flex;
      margin: 75px;
      /* text-align: center; */

    }
  </style>

  <h3>образователный цент "LEARN WITH US" <br>
    здесь вы найдете курсы по разным направлениям:  <br> информатика, английский, немецкий <br>
    наш адрес г.Ашхабад ул.ниязова дом 4 этаж 4 <br>
    рабочее время 8.00-21.00 <br>
    наш gmail: learnwithustm@gmail.com <br>
    наш inst: learnwithus.tm <br>
    наш номер: +007 707707 
    <img src="../proces2.jfif" alt="" width="300px" height="300px" >
  </h3>
</body>

</html>