<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>курсы онлайн</title>
    <link rel="shortcut icon" href="/logotip.jfif">
</head>
<body bgcolor="#fadadd">
    <img src="../logotip.jfif" height="60px" width="60px">
    <h2 class="cost">prices</h2>
    <style>
        .cost {
            margin: 5px;
            padding: 8px;
            background-color: #fab7be ;
            color: rgb(248, 18, 18) ;
            font-size: 55px ;
            font-family: sans-serif;
            justify-content: center;
            align-items: center;
            display: flex;
        }
        h3 {
            color: rgb(248, 18, 18);
            font-weight: bold;
        }
    </style>
    <h3>курсы немецкого</h3>
    <ul>
        <li>beginner - 3000tmt</li>
        <li>elementary - 3000tmt </li>
        <li> pre - 3000tmt</li>
        <li>intermediate - 3000tmt</li>
        <li> upper-intermediate - 3200tmt</li>
    </ul>
    <h3>курсы английского</h3>
    <ul>
        <li>beginner - 2000tmt</li>
        <li>elementary - 2000tmt </li>
        <li> pre - 2000tmt</li>
        <li>intermediate - 2000tmt</li>
        <li> upper-intermediate - 2400tmt</li>
        <li>toeful - 150$</li>
    </ul>

    <h3>курсы информатики</h3>
    <ul>
        <li>informatika kids - 1300tmt</li>
        <li> informatika 1 -1500tmt</li>
        <li> informatika 2 - 1500tmt</li>
        <li> informatika 3 - 1550tmt</li>
        <li> informatika final - 1600tmt</li>
    </ul>
</body>
</html>